<div class="container font-weight-bold">
    <div class="navbar bg-light justify-content-between">
        <button class="btn btn-primary" (click)="goBack()">Back</button>
        <h1>Favourites</h1>
        <button class="btn btn-primary" (click)="goHome()">Home</button>
    </div>
    <div class="jumbotron text-center" *ngIf="listOfFaves.length === 0">
        <h2>You have not added any properties to your favourites</h2>
    </div>
    <ng-container *ngFor="let house of listOfFaves">
        <div class="jumbotron border border-secondary bg-light" *ngIf="house">
            <button class="btn btn-primary" (click)="removeFromFaves(house)">Remove from faves</button>
            <div>
                <h1>{{house.price | pricePipe: house.price_currency}}</h1>
                <h3>{{house.title}}</h3>
            </div>
            <div>
                <img src="{{house.img_url}}" alt="Img">
            </div>
            <div>
                <p>{{house.bedroom_number}} bedrooms</p>
                <p *ngIf="house.bathroom_number">{{house.bathroom_number}} bathrooms</p>
                <p>{{house.summary}}</p>
            </div>
        </div>
    </ng-container>
</div>
