<div class="container">
    <div class="navbar">
        <button class="btn btn-primary " (click)="goBack()">Back</button>
        <div class="font-weight-bold"><p>{{curResults}} of {{totalResults}} matches</p></div>
        <button class="btn btn-primary " (click)="goToFaves()">Faves</button>
    </div>

    <ng-container *ngFor="let house of dataFromServer; let i = index ">
        <div class="jumbotron border border-secondary" (click)="selectHouse(house)">
            <div class="row">
                <img src="{{house.img_url}}" alt="img">
                <div>
                    <p class="font-weight-bold">Price of house: {{house.price | pricePipe: house.price_currency}}</p>
                    <p class="font-weight-bold">{{house.summary}}</p>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="loadMoreBtn">
        <button class="btn btn-primary" (click)="loadMore()" [disabled]="btnLoadMoreStatus">Load More</button>
    </div>
</div>


