img {
    width: 160px;
    height: 120px;
    margin-left: 15px;
}

.jumbotron {
    cursor: pointer;
    background: #f8f9fa;
    margin: 15px;
    padding: 20px;
}

.jumbotron:hover {
    background: lightgrey;
}

.btn {
    margin: 15px;
}

p {
    margin: 15px;
}

.loadMoreBtn {
    text-align: center;
}
