<div class="container font-weight-bold">
    <div class="navbar bg-light justify-content-around">
        <form class="form-inline">
            <button class="btn btn-primary" (click)="goBack()">Back</button>
            <button class="btn btn-primary" (click)="goHome()">Home</button>
            <button class="btn btn-primary" (click)="goToFaves()">Faves</button>
            <button class="btn btn-primary" (click)="addToFaves(dataOfHouse)" *ngIf="!flagOfFaves">Add to faves</button>
            <button class="btn btn-primary" (click)="removeFromFaves(dataOfHouse)" *ngIf="flagOfFaves">Remove from Faves</button>
        </form>
    </div>
    <div class="jumbotron border border-secondary bg-light" *ngIf="dataOfHouse">
        <div>
            <h1>{{dataOfHouse.price | pricePipe: dataOfHouse.price_currency}}</h1>
            <h3>{{dataOfHouse.title}}</h3>
        </div>
        <div>
            <img src="{{dataOfHouse.img_url}}" alt="Img">
        </div>
        <div>
            <p>{{dataOfHouse.bedroom_number}} bedrooms</p>
            <p *ngIf="dataOfHouse.bathroom_number">{{dataOfHouse.bathroom_number}} bathrooms</p>
            <p>{{dataOfHouse.summary}}</p>
        </div>
    </div>
    <div class="jumbotron text-center" *ngIf="!dataOfHouse">
        <h1>No selected house</h1>
    </div>
</div>



